*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    
}
/* Nav and Header */
.header{
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-logo{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    color: #474747;
    font-size: 20px;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* banner - section */
.banner{
    display: flex;
    align-items: center;
    margin: 0 150px;
}
.banner-first{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-name{
    font-size: 60px;
    font-weight: 700;
    color: #181818;
}
.banner-description{
    font-size: 18px;
    color: #474747;
    margin-bottom: 30px;

}
/* About section */
main{
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 230px;
    text-align: center;
}
.about{
    background-color: #FFF8F3;
    padding: 60px;
}
.section-title{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-description{
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
}
.about-details{
    display: flex;
}
.single-details{
    margin-right: 45px;
}
.section-description2{
    font-size: 16px;
    color: #474747;
    margin-bottom: 5px;
}
.section-details{
    font-size: 18px;
}