*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    
}
/* Nav and Header */
.header{
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.nav-logo{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    color: #474747;
    font-size: 20px;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* banner - section */
.banner{
    display: flex;
    align-items: center;
    margin: 0 150px;
}
.banner-first{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-name{
    font-size: 60px;
    font-weight: 700;
    color: #181818;
}
.banner-description{
    font-size: 18px;
    color: #474747;
    margin-bottom: 30px;

}
/* About section */
main{
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 230px;
    text-align: center;
}
.about{
    background-color: #FFF8F3;
    padding: 60px;
}
.section-title{
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}
.section-description{
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
    text-align: center;
}
.about-details{
    display: flex;
}
.single-details{
    margin-right: 45px;
}
.section-description2{
    font-size: 16px;
    color: #474747;
    margin-bottom: 5px;
}
.section-details{
    font-size: 18px;
}
/* what i do section */
.what-i-do{
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 230px;
}
.skill-container{
    display: flex;
    gap: 15px;
}
.section-description3{
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 80px;
}
.skill {
    margin: -1px -1px;
    width: 204px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    padding: 25px 20px;
  }
.skill-title{
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
}
.skill-description{
    font-size: 16px;
    color: #474747;
}
/* resume section */
.resume{
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 230px;
}
.section-title2{
    font-size: 35px;
    margin-top: 130px;
    margin-bottom: 50px;
    text-align: center;
}
.resume-content{
    display: flex;
    gap: 30px;
}
.resume-title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.title{
    font-size: 20px;
    color: #474747;
    margin-bottom: 3px;
}
.sub-title{
    font-size: 18px;
    color: #757575;
    margin-bottom: 8px;
}
.description{
    font-size: 16px;
    color: #757575;
    margin-bottom: 15px;
}
.resume-button{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/* contact section */
.contact-container{
    background-color: #fff8f3;
    display: flex;
}
.contact{
    display: flex;
    gap: 100px;
    padding: 130px 200px;

}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 20px;
    border: 0;
    width: 100%;
    padding: 18px 30px ;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}
.contact-description{
    margin-top: 15px;
    font-size: 14px;
    color: #474747;
    margin-bottom: 10px;
}
.form-title{
    margin-bottom: 15px;
}
